*.root
.vscode/settings.json
.vscode/*
CVS/*
*.ps
plots/*/archive/*.pdf
plots/*/archive/*.png
plots/*/cutflows/*.pdf
plots/*/cutflows/*.png
plots/garbage/*/*
*.log
vbs_ww_*/plots/*
plots/*/*.png
plots/*/*.pdf
vbs_ww_2016test/*
*_top/*
*_wjets/*
*_test/*