*.root
.vscode/settings.json
.vscode/*
CVS/*
*.ps
plots/*/archive/*.pdf
plots/*/archive/*.png
plots/*/cutflows/*.pdf
plots/*/cutflows/*.png
plots/garbage/*/*
*.log
vbs_ww_*/plots/*
plots/*/*.png
plots/*/*.pdf
vbs_ww_2016test/*
*_top/*
*_wjets/*
*_test/*
vbs_ww_*/weights/*
vbs_ww_*/
plots/Run2/12-23-2021/*
plots/Run2/12-22-2021/*
plots/2016/*
plots/2017/*
plots/2018/*
plots/Run2/*